@import "_mediaqueries.scss";
body {
  @media screen and (max-height: 500px) {
    overflow-y: scroll !important;
  }
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.choice_1 {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.luminance-mask {
  @media screen and (max-height: 500px) {
      display: none;
  }
}

.share-social .social {
  margin-bottom: 20px !important;
}
